In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("preprocessed_data.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,265000.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,265000.0

In [4]:
#T_Test
#Independent Sample-Unpaired T Test
#Different Group(Male,Female) but Same Condition(Salary)

In [5]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
Male=dataset[dataset["gender"]=="M"]["salary"]
Female=dataset[dataset["gender"]=="F"]["salary"]
ttest_ind(Male,Female)

TtestResult(statistic=2.071926593611645, pvalue=0.039476501699222566, df=213.0)

In [ ]:
#base on pval

In [6]:
#Dependent Sample-Paired T-Test
#Same Group(Male)but Different Condition(SSC_P,HSC_P)

In [7]:
from scipy.stats import ttest_rel
Male=dataset[dataset["gender"]=="M"]["ssc_p"]
Male1=dataset[dataset["gender"]=="M"]["hsc_p"]
ttest_rel(Male,Male1)

TtestResult(statistic=0.6852881050898076, pvalue=0.49431164600731514, df=138)

In [8]:
#Assignment
#Independent Sample--> Unpaired T_Test
#Difference between Hsc_b Group(others,Central)and Condition(Salary)
from scipy.stats import ttest_ind
Male=dataset[dataset["hsc_b"]=="Others"]["salary"]
Female=dataset[dataset["hsc_b"]=="Central"]["salary"]
ttest_ind(Male,Female)

TtestResult(statistic=-0.05555765325089362, pvalue=0.9557462783338404, df=213.0)

In [9]:
#Assigmnet
#Dependent Sample--> Paired T_Test
#same Group(Commerce)and diferent condition(mba_p,etest_p)
from scipy.stats import ttest_rel
Male=dataset[dataset["hsc_s"]=="Commerce"]["mba_p"]
Male1=dataset[dataset["hsc_s"]=="Commerce"]["etest_p"]
ttest_rel(Male,Male1)

TtestResult(statistic=-7.868552092606871, pvalue=2.462926468454984e-12, df=112)

In [10]:
#Assignment
#Dependent Sample--> Paired T_Test
#same Group(Science)and diferent condition(mba_p,etest_p)
from scipy.stats import ttest_rel
Male=dataset[dataset["hsc_s"]=="Science"]["mba_p"]
Male1=dataset[dataset["hsc_s"]=="Science"]["etest_p"]
ttest_rel(Male,Male1)

TtestResult(statistic=-7.4564871697714326, pvalue=5.2975838017026714e-11, df=90)

In [11]:
#In this t_test for science and commerce in mba_p ,etest_p 
#is higher difference and not a acceptable range.